<div class="search">
  <h1>L0G1n</h1>
  <form method="POST" action="/sessions">
    <input type="text" name="username" placeholder="u53RN@M3">
    <input type="password" name="password" placeholder="P@55woRd">
    <input type="submit" value="l0CK anD l0@d" id="define-button">
  </form>
</div>
