<div class="search">
  <h1><%= l33tify("Register") %></h1>
  <form method="POST" action="/users">
    <input type="text" name="user[username]" placeholder="<%= l33tify("username") %>">
    <input type="password" name="user[password]" placeholder="<%= l33tify("password") %>">
    <input type="submit" value="<%= l33tify("let's learn some words, baby") %>" id="define-button">
  </form>
</div>
