<div class="search">
  <form action='/search' method='POST'>
    <input type='text' name='term' placeholder='3N73R @ W0rd'>
    <input type='submit' value='D3f1N3' id='define-button'>
  </form>
</div>

<% if @term && @definition && @l33t_term && @l33t_definition %>
  <div class="result">
    <dl>
      <dt><%= @term %></dt>
      <dd><%= @definition %></dd>
      <dt><%= @l33t_term %></dt>
      <dd><%= @l33t_definition %></dd>
    </dl>
  </div>
<% end %>
