<div class="search">
  <form action='https://mashape-community-urban-dictionary.p.mashape.com/define' method='GET'>
    <input type='text' name='term' placeholder='3N73R @ W0rd'>
    <input type='submit' value='D3f1N3' id='define-button'>
  </form>
</div>
